.vscode/
Thumbs.db
desktop.ini
*.log

# Bloquear la carpeta de respaldos completa
Soporte/backups/

# Bloquear archivos de registro de tiempo
config/ultimo_respaldo.txt

# Scripts de Configuración Única (Local Only)
crear_admin.php

# Credenciales privadas de correo electrónico
config/mail_config.php